<div class="mainFoot">
    <p class="footText">Zone de Secours du Brabant wallon©</p>
    <a href="http://www.zsbw.be" target="_blank" class="link"><p class="footText">Consulter le site de la ZSBW</p></a>
    <div class="logout" (click) = logout()><p>LOGOUT</p></div>
    <div class="admin" (click) = toggleModal() *ngIf="adminAccess"><p>Administration</p></div>
</div>

<div #target id="myModal" class="modal" [style.display]=displayModal>
    <div class="modal-box">
        <div class="modal-content">
            <span class="close" (click)="toggleModal()">&times;</span>
            <div>
                <div>
                    <h1 class="title">Modifier les droits</h1>

                    <div class="edit"><input type="text" placeholder="E-mail de l'utilisateur" class="editPlace" [(ngModel)]="email"></div>
                    
                    <div class="droit">
                        <input type="checkbox" id="superadmin" name="superadmin" [(ngModel)]="newsuperadmin">
                        <label for="superadmin">Super Administrateur</label>
                    </div>

                    <div class="droit">
                        <input type="checkbox" id="admin" name="admin" [(ngModel)]="newadmin">
                        <label for="admin">Administrateur</label>
                    </div>
                      
                    <div class="droit">
                        <input type="checkbox" id="dispatch" name="dispatch"  [(ngModel)]="newdispatch">
                        <label for="dispatch">Dispatcheur</label>
                    </div>
                    <div class="submitButton" (click)="updateDroits()"><p>{{sendText}}</p></div>
                </div>
                <div>
                    <table class="listUsers">
                        <tr>
                          <th style="width: 40%">Email</th>
                          <th style="width: 20%">Super Administrateur</th>
                          <th style="width: 20%">Administrateur</th>
                          <th style="width: 20%">Dispatcheur</th>
                        </tr>
                        <tr *ngFor="let user of users" (click)=changeUser(user.name,user.isSuperAdmin,user.isAdmin,user.isDispatch,target)>
                          <td>{{user.name}}</td>
                          <td>{{user.isSuperAdmin}}</td>
                          <td>{{user.isAdmin}}</td>
                          <td>{{user.isDispatch}}</td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>


