.loading {
    width: 100%;
}

.interDiv, .interDivChoice {
    width: 50vw;
    height: 10vw;
    margin: 2vw 0;
    /* text-align: center; */
    background-color: rgb(255, 255, 255);
    border: 3px solid darkgrey;
    border-radius: 25px 25px 25px 25px;
}

.interDiv {
    display: block;
}

.interDiv + .interDivChoice {
    animation: seconds 1.0s forwards;
}

.interDivChoice {
    display: none;
}

.mainDiv {
    width: 50vw;
    margin-left: 25vw;
    display: inline-block;
}

.mainDiv:hover .interDiv {
    display: none;
}

.mainDiv:hover .interDivChoice {
    display: block;
}

.buttonReplay, .buttonStats {
    width: 40vw;
    height: 5vw;
    text-align: left;
}

.buttonReplay:hover, .buttonStats:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.buttonReplay p, .buttonStats p {
    padding-top: 1.5vw;
    margin-left: 5vw;
}

.choiceImage {
    height: 4vw;
    float: left;
    margin: 0.5vw 2.5vw;
    opacity: 0.3;
}

.editImage {
    height: 4vw;
}

.bothButtons {
    
    margin-left: 10vw;
    font-size: 1.3vw;
    /* border: 2px solid darkgrey;
    border-left: 0px transparent; */
    /* margin-top: -2px; */
    /* border: 3px solid darkgrey; */
    /* border-radius: 0 25px 25px 0; */
}

.buttonReplay {
    width: 35vw;
    border-radius: 0;
}

.buttonStats {
    width: 35vw;
    border-radius: 0;
}

.editImage {
    height: 3vw;
    float: right;
    padding: 3.5vw 1vw;
    opacity: 0.3;
}

.buttonEdit {
    position: absolute;
    margin-left: 35vw;
    width: 5vw;
    border-radius: 0 20px 20px 0;
    margin-top: -10vw;
}

.buttonEdit:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.link {
    text-decoration: none;
}

.miniature {
    height: 10vw;
    float: left;
    border-radius: 24px 0 0 24px;
}

.numberVideoImg {
    position: absolute;
    right: 25vw;
    width: 4vw;
    opacity: 0.2;
    
}

.numberVideo {
    position: absolute;
    right: 25vw;
    width: 4vw;
    padding-top: 4vw;
    font-size: 2vw;
    text-align: center;
}

.infoVideo {
    font-size: 1.3vw;
    height: 5vw;
    margin-left: 11vw;
    margin-right: 7vw;
    text-align: center;
}

.infoVideo > p {
    padding-top: 1.5vw;
}

.video-js {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}
.vjs-big-play-button {
    position: absolute;
    margin-left: 50%;
    margin-top: 13.5vw;
    transform: translateX(-63%);
}
.vjs-poster {
    background-image: url("../../assets/poster.jpg") !important;
}

.modal {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-box {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content {
    padding: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submitButton {
    text-align: center;
    position: relative;
    width: 20vw;
    height: auto;
    min-height: 8vh;
    /* margin-top: 5vh; */
    margin: 5vh auto 0 auto;
    background-color: rgb(214, 214, 214);
}

.submitButton:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

.submitButton > p {
    padding: 2vh 2vw;
}

.editPlace {
    width: 20vw;
    height: 2vw;
}

.editDiv {
    text-align: center;
    position: relative;
    margin: 3vh auto 0 auto;
}

.videoName {
    text-align: center;
    margin: 0 auto;
}

.errorInput {
    color: red;
}

@-webkit-keyframes seconds {
    0% {
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(240, 240, 240);
    }
    100% {
        border: 3px solid #d9001b;
        background-color: rgb(240, 240, 240);
    }
  }
  @keyframes seconds {
    0% {
        border: 3px solid rgb(255, 255, 255);
        background-color: rgb(240, 240, 240);
    }
    100% {
        border: 3px solid #d9001b;
        background-color: rgb(240, 240, 240);
    }
  }