<app-header></app-header>
<a class="link" href="/live">
    <div class="leftDiv square">
        <p class="text">En direct</p>
    </div>
</a>
<!-- <a class="link" href="/replays">
    <div class="rightDiv square">
        <p class="text">Replays</p>
    </div>
</a>

<a class="link" href="/stats">
    <div class="leftDiv square">
        <p class="text">Statistiques</p>
    </div>
</a>
<a class="link" href="/todo">
    <div class="rightDiv square">
        <p class="text">Todo</p>
    </div>
</a> -->


